.content-last-page {
    display: grid;
    gap: 5px;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    /* Duas colunas de largura automática */
    justify-content: center;
    /* Alinhar as células ao centro horizontalmente */
}

.last-content {
    width: 90%;
    height: 500px;
    margin: 150px auto;
    border-radius: 150px;
    background-color: #e0e0e0;
}


.shoe-image {
    position: relative;
    height: 450px;
    width: 350px;
    top: -60px;
    justify-self: start;
    /* Alinhar a imagem à direita da célula */
}

.shoe-image img {
    width: 100%;
    /* Para garantir que a imagem se ajuste ao tamanho do quadrado */
    height: auto;
    /* Para manter a proporção da imagem */
    object-fit: cover;
    /* Para preencher o espaço do quadrado mantendo a proporção */
    background-color: blue;
}